<!DOCTYPE html>
<html lang="pt-bt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>TInfo</title>

  <!-- TODO: .ico & favicon size -->
  <link rel="icon" href="assets/img/green-chipset.png" />

  <!-- STYLES -->
  <link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <link rel="stylesheet" href="assets/css/step-warehouse.css">
</head>

<body class="container py-4">
  <header class="mb-4">
    <h1>Cadastro de IC</h1>
    <h2 class="text-muted">Etapa: <small class="step">Almoxarifado</small></h2>
  </header>

  <main>
    <form action="http://127.0.0.1:881/adicionarNota" method="post">

      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" type="text" placeholder="Número da nota" name="id">
        </div>
        <div class="form-group col-md-6">
          <select class="form-control" style="color: dimgray" name="tipo">
            <option selected>Selecione o tipo do IC</option>
            <option value="0">Computador</option>
            <option value="1">Hardware</option>
            <option value="2">Serviço</option>
            <option value="3">Software</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">R$</span>
            </div>
            <input class="form-control" type="number" placeholder="Valor unitário do IC" aria-describedby="basic-addon1"
              name="valorUnit">
          </div>
        </div>
        <div class="form-group col-md-4">
          <input class="form-control" type="number" placeholder="Quantidade" name="quantidade">
        </div>
        <div class="form-group col-md-4">
          <input class="form-control" type="date" placeholder="Data de emissão da nota" name="dataEmissaoNF">
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" rows="8" cols="80" placeholder="Descrição do IC..." name="descricao"></input>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Cadastrar IC</button>
    </form>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>
